.contact{
    background-color: transparent;
    color: var(--white-normal);
    border: 1px solid var(--red-normal);
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: border 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
}

.contact:hover{
    background-color: var(--red-dark);
    box-shadow: 0 0 10px var(--red-normal);
    border: none;
}

.redes{
    color: var(--white-normal);
    font-size: 1.5rem;
    
}

.redes:hover{
    color: var(--red-normal);
    animation: move 2s infinite alternate;
}  


@keyframes move {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
    
}