

.redes{
    color: var(--white-normal);
    font-size: 1.5rem;
    
}

.redes:hover{
    color: var(--red-normal);
    animation: move 2s infinite alternate;
}  


@keyframes move {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
    
}