.max_width{
    max-width: 1420px;
    margin: 0 auto;
    
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10dvh;
    max-width: 1420px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
}


.scrolled {
    z-index: 995;
    transition: background-color 1s;
    background-color: var(--secondary-normal);
    width: 100%;
    height: 10dvh;
    position: fixed;
  }

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.img_logo{
    color: var(--white-normal);
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;

}

.item a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    transition: color 0.3s;
}

.item a:hover{
    color: var(--primary-light);
}