.max_width{
    max-width: 1420px;
    margin: 0 auto;
    
}

.navbar_atributtes{
    height: 10dvh;
    max-width: 1420px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
    padding: 0 20px;
}

.ajuste{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}




.scrolled {
    z-index: 995;
    transition: background-color 0.3s, box-shadow 0.3s;
    background-color: var(--secondary-normal);
    width: 100%;
    height: 10dvh;
    position: fixed;
    box-shadow: 0 0 13px rgba(0, 0, 0, 1);
  }

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.img_logo{
    color: var(--white-normal);
    font-size: 0.9rem;
}

.list, .list_mobile {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}



.item a, .item_mobile a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    transition: color 0.3s;
}



.item a:hover, .item_mobile a:hover{
    color: var(--red-normal);
}


.mobile_menu_icon{
    display: none;
}

.mobile_menu_icon button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile_menu{
    display: none;
}


@media screen and (max-width: 768px){
    .navbar{
        padding: 1.5rem 2rem;
    }

    .item{
        display: none;
    }

    .mobile_menu_icon{
        display: block;
    }

    .open{
        display: block;
        
    }

    .list_mobile{
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--primary-normal);
        padding: 20px;
       
    }

   
    
    
}